<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amado</title>
    <link rel="icon" href="~/img/core-img/favicon.ico">
    @RenderSection("CSS",false)
</head>
<body>
    @RenderBody()
</body>
    @RenderSection("Scripts", false)
</html>
